body{
	font: 15px/1.5 Helvetica,sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	background: url(img/fond02.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000423;

}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
	text-align: center;

}



/*li{
	background-image: url(img/bouton01.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float: left;
	width: 250px;
	height: 80px;
	margin-top: -30px;
	border: 1px green solid;
}
*/

header{
	background: #070114;
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 50px;
	position: sticky;
	z-index: 1;
	top: 0;
  	left: 0;
	width: 100%;
	/*border-bottom: #04529e 3px solid;*/
}

header #logo{
	background: url(img/titre.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	width: 245px;
	height: 100px;
	float: left;
}



header #logo h1{

}

header nav{
	float: left;
	margin-top: 40px;
	padding-left: 250px;
}

header .highlight, header .current a{
	color: #0dc9ff;
	font-weight: bold;
}

header a:hover{
	color:#ccc;
	font-weight: bold;
}

header a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

#cover{

	min-height: 400px;
	max-width: 80%;
	margin: auto;
	background: url(img/cover.jpg) no-repeat;
	background-size: 100%;
	background-size: contain;
	background-position: top center;
	/*border: red 4px solid;*/
}


#lightwave{
	width: 80%;
	min-height: 350px;
	margin: auto;
	overflow: hidden;
	background: rgba(24, 0, 64, 0.75);
	/*border: #03ffa2 2px solid;*/
}

#lightwave h3{
	text-align: center;
	color: #03ffa2;
	font-size: 20px;
}

#lightwave h3:hover{
	text-shadow:0 0 2.5px #6cffc9;
}

#lightwave p{
	text-align: center;
}

#vaisseau img{
	width: 15%;
	float: left;
	height: auto;
	position: center;
}

#lien a{
	background: url(img/badge-google.png);
	background-size: 40%;
	background-repeat: no-repeat;
	width: 568px;
	height: 169px;
	float: left;
	margin: 25px 0px 0px 20px;
}

#trailer{
	width:80%;
	margin: auto;
	overflow: hidden;
    padding-bottom:36.25%;
    position:relative;
    height:0;
	/*border: blue 4px solid;*/
}

#trailer iframe{
	left:0;
    top:0;
    height:100%;
    width:100%;
    overflow: hidden;
    position:absolute;

}

#images{
	width:80%;
	margin: auto;
	overflow: hidden;
	/*border: #fff 1px solid;*/
}


footer{
	background: #070114;
	/*border-top: #04529e 3px solid;*/
}

footer p{
margin-top: 5px;
	text-align: center;
	
}

footer a{
padding-left: 850px;
}

footer a img {
height: 84px;
width:129px;

}

@media(max-width: 650px){

	body{
		width: 500px
		font-size: 12px;
		background: #8c41ec;
		background-size: contain;
	}

	header #logo, header nav, header nav li{
		float: none;
		text-align: center;
		margin-top: -15px;
		width: 100%;
	}

	header nav {
	margin-top: -5px;
	display: none;
	}


	#cover{
	min-height: 150px;
	max-width: 100%;
	background-size: 100%;
	background-position: top center;
	}


	#lightwave{
	min-height: 50px;
	width: 100%;
	}

	#lightwave h3{
		font-size: 15px;
	}

	#vaisseau img{
	display: none;
	}

	#lien a{
	background-size: 30%;
	background-position: center;

	}


	#trailer{
	padding-bottom:66.25%;
	
	width: 100%;
	}

	#images{
	width: 100%;
	}


}